* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
