body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  padding: 5.5rem;
}

/** header **/
header {
  width: 35rem;
  height: 58rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 1rem;
}

header .user img {
  margin-bottom: 1rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.2);
}

header .user .name {
  font-size: 3rem;
  padding: 0.5rem 0;
}

header .user .post {
  font-size: 1.8rem;
}

header .contact {
  padding: 1rem 0 1rem 0;
}

header .contact h3 {
  font-size: 2.4rem;
  padding: 0.5rem 0;
}

header .contact .share {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

header .contact .share a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

header .contact .share a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}
